<div class="columns">
  <div class="column pm-walker-add-container is-6 is-offset-3">
    <form #walkerForm="ngForm">
      <div class="columns">
        <md-input-container>
              <textarea mdInput [placeholder]="'description' | translate"
                        name="description" required [(ngModel)]="walker.description"></textarea>
        </md-input-container>
      </div>
      <div class="columns">
        <div class="column">
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-4">
          <md-input-container>
            <input type="number" mdInput [placeholder]="'daily_price' | translate"
                   name="cost" required [(ngModel)]="walker.cost" min="0"/>
          </md-input-container>
        </div>
        <div class="column is-4">
        </div>
        <div class="column is-3">
          <button type="submit" class="btn btn-success pm-fr"
                  [color]="(walkerForm.form.valid) ? 'primary' : 'warn'"
                  md-button (click)="(walkerForm.form.valid) && onSaveWalker()">{{'add' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
