<md-sidenav-container>
  <md-sidenav [opened]="open" [mode]="mode" color="primary" (close)="onClose.emit()">
    <div class="pm-change-user-sidenav" *ngIf="(currentUser$ | async)?.internalUsers.length">
      <md-select (change)="onSelectedUserChange($event)" [ngModel]="(selectedUser$ | async)?.id">
        <md-option [value]="(currentUser$ | async)?.id">{{(currentUser$ | async)?.userData.firstName}}</md-option>
        <md-option *ngFor="let internalUser of (currentUser$ | async)?.internalUsers"
                   [value]="internalUser.id">{{ internalUser.userData.firstName }}
        </md-option>
      </md-select>
    </div>
    <md-nav-list>
      <app-nav-item (activate)="onItemActivate.emit()" icon="dashboard" routerLink="" [activeClass]="[isHomeActive]">
        {{'main' | translate}}</app-nav-item>
      <app-nav-item (activate)="onItemActivate.emit()" routerLink="/locations" icon="location_searching"
                    routerLinkActive="is-active">{{'places' | translate}}</app-nav-item>
      <app-nav-item (activate)="onItemActivate.emit()" icon="favorite" routerLink="/rooms"
                    routerLinkActive="is-active">{{'sitters' | translate}}</app-nav-item>
      <app-nav-item (activate)="onItemActivate.emit()" icon="child_friendly" routerLink="/walkers"
                    routerLinkActive="is-active">{{'walkers' | translate}}</app-nav-item>
      <app-nav-item (activate)="onItemActivate.emit()" icon="pets" routerLink="/adopt"
                    routerLinkActive="is-active">{{'adopt' | translate}}</app-nav-item>
      <app-nav-item (activate)="onItemActivate.emit()" icon="search" routerLink="/lost-found"
                    routerLinkActive="is-active">{{'lost_or_found' | translate}}</app-nav-item>
      <!--<app-nav-item (activate)="onItemActivate.emit()" svgIcon="pet_health" routerLink="/questions"-->
      <!--routerLinkActive="is-active">-->
      <!--{{'wet_consultant' | translate}}</app-nav-item>-->
      <!--<app-nav-item (activate)="onItemActivate.emit()" icon="public" routerLink="/blog" -->
      <!--routerLinkActive="is-active">{{'blog' | translate}}</app-nav-item>-->
      <!--<app-nav-item (activate)="onItemActivate.emit()" icon="account_circle">Profile</app-nav-item>-->
      <!--<app-nav-item (activate)="onItemActivate.emit()" icon="settings">Settings</app-nav-item> -->
      <!--<app-nav-item (activate)="onItemActivate.emit()" icon="contact_mail">Help/Contact us</app-nav-item>-->
      <app-nav-item (activate)="onItemActivate.emit()" icon="info" routerLink="/about-us"
                    routerLinkActive="is-active">{{'about_us' | translate}}</app-nav-item>
    </md-nav-list>
  </md-sidenav>
  <ng-content></ng-content>
</md-sidenav-container>
