<md-card *ngIf="room">
  <md-card-content>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <md-card-header>
          <div md-card-avatar class="pm-cart-avatar"
               [ngStyle]="{'background-image': 'url(' + (room$ | async)?.user.userData.avatar + ')'}"></div>
          <md-card-title>
            {{(room$ | async)?.user.userData.firstName}} {{(room$ | async)?.user.userData.lastName}}</md-card-title>
          <md-card-subtitle>
              <span class="pm-font-12 pm-color-gray">
                {{(room$ | async)?.createdAt | appFormatDate}}
              </span>
          </md-card-subtitle>
        </md-card-header>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="swiper-container" *ngIf="(room$ | async)?.images.length" [swiper]="swiperOptions">
          <div class="swiper-wrapper">
            <div *ngFor="let image of (room$ | async)?.images" class="swiper-slide">
              <img class="pm-carousel-image" [src]="image.src">
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column column is-10 is-offset-1">
        <div class="pm-details-actions">
              <span class="pm-font-14 pm-color-gray"><i class="mdi mdi-cash-usd"></i>
                {{ 'price_per_day' | translate:{price: (room$ | async)?.cost} }}</span>&nbsp;
          <rating [ngModel]="(room$ | async)?.averageRating"
                  [max]="5"
                  fullIcon="★"
                  emptyIcon="☆"
                  [readonly]="true"
                  [disabled]="false"
                  [required]="true"
                  [float]="true"
                  [titles]="['Poor', 'Fair', 'Good', 'Very good', 'Excellent']"></rating>
          <button md-button class="pm-room-action-apply-edit" (click)="onApplyClick()"
                  *ngIf="!(room$ | async)?.isOwner">
            <span class="pm-font-14 pm-color-gray">{{'apply' | translate}} &nbsp;<i class="mdi mdi-plus"></i></span>
          </button>
          <button md-button class="pm-room-action-apply-edit" color="warn" (click)="onDeleteClick()"
                  *ngIf="(room$ | async)?.isOwner">
            <span class="pm-font-14 pm-color-red">{{'delete' | translate}} &nbsp;<i class="mdi mdi-delete"></i></span>
          </button>
          <button md-icon-button (click)="onShareClick()">
            <md-icon class="pm-font-16 pm-color-gray">share</md-icon>
          </button>
        </div>
        <div class="pm-details-actions">
          <div class="columns">
            <div class="column">
              <button color="accent" md-button
                      *ngIf="currentUser"
                      (click)="onSeeReviewsClick()">
                <span class="pm-font-14 pm-color-gray">{{'see_reviews' | translate}}</span>
              </button>
            </div>
            <div class="column">
              <button md-button *ngIf="!room.isOwner && !!currentUser"
                      [routerLink]="['/messages', room.user.id]">
                <span class="pm-font-14 pm-color-gray">{{'open_conversation' | translate}}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <span class="pm-font-16 pm-color-gray">
              <i class="mdi mdi-note-text"></i>
              {{(room$ | async)?.description}}
            </span>
          </div>
        </div>
        <br/>
        <md-divider></md-divider>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1">
           <span class="pm-font-16 pm-color-gray">
              {{(room$ | async)?.isOwner ? ('application_requests' | translate) : ('my_applications' | translate)}}
              <i class="mdi mdi-application"></i></span>
        <app-room-applications-list
          [applications]="(applications$ | async)?.list" [room]="room$ | async"></app-room-applications-list>
      </div>
    </div>
  </md-card-content>
</md-card>
