<div class="colomns is-hidden-mobile">
  <div class="column pm-page-intro">
    <md-icon color="primary">favorite</md-icon>&nbsp;&nbsp;&nbsp;
    <span class="pm-color-gray pm-font-18">{{'sitters_intro' | translate}}</span>
  </div>
</div>
<div class="columns">
  <div class="pm-room-items" infinite-scroll
       (scrolled)="onScroll()"
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [scrollWindow]="false">
    <div class="column">
      <masonry [options]="{ transitionDuration: '0.5s', percentPosition: true, resize: true }"
               [useImagesLoaded]="true"
               class="columns pm-width-100">
        <!--TODO: fix, without ngRepeat brick does not work-->
        <masonry-brick *ngFor="let _ of [0]"
                       class="column is-4-desktop is-6-tablet">
          <md-card [routerLink]="[selectedUser ? '/rooms/add' : '/join']" class="pm-cursor-pointer">
            <md-card-header>
              <div md-card-avatar class="pm-cart-avatar"
                   *ngIf="selectedUser$ | async"
                   [ngStyle]="{'background-image': 'url(' + (selectedUser$ | async)?.userData.avatar + ')'}"></div>
              <div md-card-avatar class="pm-cart-avatar"
                   *ngIf="!(selectedUser$ | async)"
                   [ngStyle]="{'background-image': 'url(/assets/logo.png)'}"></div>
              <md-card-title></md-card-title>
              <md-card-subtitle>
                    <span class="pm-font-12 pm-color-gray">
                      {{'add_new_application' | translate}}
                    </span>
              </md-card-subtitle>
              <a md-icon-button class="pm-action-add">
                <md-icon class="pm-font-16 pm-color-gray">add</md-icon>
              </a>
            </md-card-header>
          </md-card>
        </masonry-brick>
        <masonry-brick *ngFor="let room of rooms$ | async"
                       class="column is-4-desktop is-6-tablet">
          <app-room [room]="room"></app-room>
        </masonry-brick>
      </masonry>
    </div>
    <div *ngIf="(total$ | async) > (rooms$ | async)?.length"
         class="pm-font-14 pm-color-gray pm-load-more pm-cursor-pointer"
         (click)="onScroll(); $event.stopPropagation()">
      {{'load_more' | translate}} <i class="mdi mdi-dots-horizontal"></i></div>
  </div>
  <button md-fab class="pm-fab" (click)="onFabClick()">
    <md-icon>add</md-icon>
  </button>
</div>
