<div>
  <ul class="labels">
    <li class="waiting pm-color-gray">{{'WAITING' | translate}}</li>
    <li class="in-progress pm-color-gray">{{'IN_PROGRESS' | translate}}</li>
    <li class="finished pm-color-gray">{{'FINISHED' | translate}}</li>
  </ul>
</div>
<div *ngFor="let application of applications" class="pm-application-row"
     [ngClass]="{active: activeApplicationId === application.id}">
  <ul class="circles" (click)="activeApplicationId = (activeApplicationId === application.id ? null : application.id)">
    <li class="waiting">
      <div class="circle-item"
           [ngClass]="{active: checkApplicationsStatus(application, 'WAITING')}"
           [style.background-image]="checkApplicationsStatus(application, 'WAITING') ?
           'url(' + application.consumer.userData.avatar + ')' : null">
        <span class="pm-font-20"><i class="mdi mdi-check-circle-outline pm-color-white"></i></span>
      </div>
    </li>
    <li class="in-progress">
      <div class="circle-item"
           [ngClass]="{active: checkApplicationsStatus(application, 'IN_PROGRESS')}"
           [style.background-image]="checkApplicationsStatus(application, 'IN_PROGRESS') ?
           'url(' + application.consumer.userData.avatar + ')' : null">
        <span class="pm-font-20"><i class="mdi mdi-check-circle-outline pm-color-white"></i></span>
      </div>
    </li>
    <li class="finished">
      <div class="circle-item"
           [ngClass]="{active: checkApplicationsStatus(application, 'FINISHED')}"
           [style.background-image]="checkApplicationsStatus(application, 'FINISHED') ?
           'url(' + application.consumer.userData.avatar + ')' : null">
        <span class="pm-font-20"><i class="mdi mdi-check-circle-outline pm-color-white"></i></span>
      </div>
    </li>
  </ul>
  <div class="pm-font-12 pm-color-gray pm-application-date">{{application.createdAt | appFormatDate}}</div>
  <div class="details" [hidden]="activeApplicationId !== application.id">
    <div class="columns">
      <div class="column is-4 pm-text-center">
        <div>
          <span class="pm-font-14 pm-color-gray pm-walker-application-status">
            {{application.consumer.userData.firstName}} {{application.consumer.userData.lastName}}
          </span><br/>
          <span class="pm-font-12 pm-color-gray pm-walker-application-status">
             {{application.status | translate}}
          </span>
        </div>
      </div>
      <div class="column is-8 pm-text-center">
        <div *ngIf="application.rating" class="pm-rating">
          <rating [ngModel]="application.rating"
                  [max]="5"
                  fullIcon="★"
                  emptyIcon="☆"
                  [readonly]="true"
                  [disabled]="false"
                  [required]="true"
                  [float]="true"
                  [titles]="['Poor', 'Fair', 'Good', 'Very good', 'Excellent']"></rating>
          <div><i class="pm-font-12 pm-color-gray">{{application.review}}</i></div>
        </div>
        <button md-button
                [routerLink]="['/messages', walker.isOwner ? application.consumer.id : application.provider.id]">
          {{'chat' | translate}}
        </button>
        <button md-button *ngIf="application.status === 'WAITING'
          && walker.isOwner" (click)="onChangeStatus(application, 'IN_PROGRESS')">
          {{'confirm' | translate}}
        </button>
        <button md-button *ngIf="application.status === 'IN_PROGRESS'" (click)="onChangeStatus(application, 'FINISHED')">
          {{'finish' | translate}}
        </button>
        <button md-button color="warn" *ngIf="application.status === 'WAITING'"
                (click)="onChangeStatus(application, walker.isOwner ? 'CANCELED_BY_PROVIDER' : 'CANCELED_BY_CONSUMER')">
          {{'cancel' | translate}}
        </button>
        <button md-button color="accent"
                *ngIf="application.status === 'FINISHED' && !walker.isOwner && !application.rating"
                (click)="onRateClick(application)">
          {{'rate' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

