/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/sass/utilities/all";
@import "../node_modules/bulma/sass/base/helpers";
//TODO: use material ui grid system for mobile
@import "../node_modules/bulma/sass/grid/all";
@import "../node_modules/pikaday/scss/pikaday.scss";

:focus { outline:none; }
::-moz-focus-inner { border:0; }

.columns {
  margin: 0 !important;
}

[hidden] {
  display: none !important;
}

.star-icon {
  font-size: 16px !important;
  line-height: inherit !important;
  &:before {
    top: 0;
    color:  #fcdd7f !important;
  }
}

.pm-font-10 {
  font-size: 12px;
}

.pm-font-12 {
  font-size: 12px;
}

.pm-font-14 {
  font-size: 14px;
}

.pm-font-16 {
  font-size: 16px;
}

.pm-font-18 {
  font-size: 18px;
}

.pm-font-20 {
  font-size: 20px;
}

.pm-font-30 {
  font-size: 30px;
}

.pm-color-gray {
  color: #484848;
}

.pm-color-light-gray {
  color: #f1f0f0;
}

.pm-color-green {
  color: #80d47f;
}

.pm-color-white {
  color: #fff;
}

.pm-color-blue {
  color: #6fb5fc;
}

.pm-color-facebook {
  color: #3A589B;
}

.pm-color-red {
  color: #fc6f6f;
}

.pm-color-yellow {
  color: #fcdd7f;
}

.pm-color-light-pink {
  color: #8b59e4;
}

.pm-text-center {
  text-align: center;
}

.pm-background-light-gray {
  background-color: #f1f0f0;
}

.pm-background-lightest-gray {
  background-color: #f8f8f8;
}

.pm-background-blue {
  background: #6fb5fc;
}

.pm-background-light-pink {
  background-color: #8b59e4;
}

.pm-font-bold {
  font-weight: bold;
}

.pm-padding-15 {
  padding: 15px;
}

.pm-fl {
  float: left;
}

.pm-fr {
  float: right;
}

.pm-cart-avatar {
  background-size: cover;
}

.pm-cursor-pointer {
  cursor: pointer;
};

// TODO: find right way
.column {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
// TODO: add class to all cards
.pm-cart-image-fixed-300 {
  display: block;
  height: 300px;
  //TODO: IE support
  object-fit: cover;
  margin: 0 -24px 16px;
}

.pm-carousel-image {
  display: block;
  height: 500px;
  //TODO: IE support
  object-fit: cover;
  width: 100%;
}

.pm-carousel-image-card {
  width: 100%;
}

.image-upload {
  --active-color: #673ab7 !important;
  .upload-button {
    span {
      text-transform: none;
    }
  }
}

date-input-polyfill {
  z-index: 1010;
}

.swiper-pagination-bullet-active {
  background: #fcdd7f;
}

@media (max-width: 600px) and (orientation: portrait) {
  .pm-carousel-image {
    height: 300px;
  }
}

.pm-width-100 {
  width: 100% !important;
}
